[submodule "libs/pslse"]
	path = libs/pslse
	url = https://github.com/kirkmorrow/pslse.git
[submodule "libs/capi"]
	path = libs/capi
	url = https://github.com/sbates130272/libcapi.git
[submodule "libs/argconfig"]
	path = libs/argconfig
	url = https://github.com/sbates130272/libargconfig.git
[submodule "libs/libcxl"]
	path = libs/libcxl
	url = https://github.com/ibm-capi/libcxl.git
