.lock*
.waf*
build
libs/psl_fpga
fpga/*.chg
fpga/*.qsf
fpga/*.qpf
fpga/db
fpga/quartus_output
fpga/*.log
fpga/*.txt
fpga/incremental_db
fpga/*.rpt
fpga/*.summary
fpga/*.smsg
fpga/*.pin
fpga/*.sof
fpga/reconfig_mif
fpga/*.jdi
fpga/*.rbf
fpga/hc_output
vsim
